#selectOrder {
    position: absolute;
    padding: 1.5rem 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: #fafafa;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    overflow: hidden;
}

#backBtn {
    position: fixed;
    top: 0;
    z-index: +200;
    width: 1.2rem;
    height: 0.6rem;
    /*line-height: 1rem;*/
    margin: 0.8rem 0.2rem;
    padding: 2px;
}

h3 {
    font-size: 25px;
    text-align: center;
    position: fixed;
    z-index: +100;
    width: 100%;
    height: 1.5rem;
    border-bottom: 0.04rem solid lightgrey;
    line-height: 2rem;
    background: white;
    top: 0.1rem;
}

.menuList {
    border-bottom: 0.04rem solid lightgrey;
    height: 3.5rem;
    position: relative;
}

.menuList > a {
    width: 50%;
    margin-top: 0.1rem;
    display: inline-block;
    font-size: 0.3rem;
    line-height: 0.6rem;
}

.menuList > a > img {
    margin-top: 0.25rem;
    width: 25%;
    height: 100%;
    float: left;
}

.menuList > a > p {
    width: 75%;
    height: 1rem;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menuList > section {
    position: absolute;
    right: 0.4rem;
    bottom: 0.4rem;
    height: 0.6rem;
    border-radius: 1rem;
}

.menuList > section > button {
    /*background: white;*/
    border: 1px solid orange;
    background-color: orange;
    border-radius: 1111px;
    color: red;
    display: inline-block;
    text-align: center;
    line-height: 0.65rem;
    font-weight: 900;
    width: 0.7rem;
    height: 0.7rem;
    padding-bottom: 1px
}

.menuList > section > span {
    /*display: inline-block;*/
    width: 0.5rem;
    text-align: center;
    line-height: 0.5rem;
    font-size: 0.25rem;
}

.full {
    height: 100%;
    position: relative;
    overflow: auto;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    top: 4rem;
}

.modal-backdrop {
    z-index: 1040;
    opacity: 0 !important;
    filter: alpha(opacity=1) !important;
    background-color: #000;
}

.confirm {
  padding: 0.95rem 0;
  width: 15%;
  height: 2.5rem;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  float: left;
}

.confirm > span {
  box-sizing: border-box;
  border: 0.04rem solid orange;
  background: white;
  display: inline-block;
  width: 0.6rem;
  height: 0.6rem;
  overflow: hidden;
  border-radius: 50%;
  line-height: 0.6rem;
  cursor: pointer}

.confirm > span > span {
  background: yellow;
  font-size: 0.5rem;
  display: block; }